.img-topnav{
    max-width: 280px;
}
#top-bar {
    position: relative;
    border-bottom: 1px solid #EEE;
    height: 65px;
    line-height: 65px;
    font-size: 16px;
    background: #eee;
}

@media only screen and (max-width: 767px) {
    #top-bar{
        text-align: center;
    }
}
#primary-menu ul li > a {
    font-size: 16px;
}
#primary-menu ul ul li > a {
    font-size: 16px;
}

.mapabout .fluid-width-video-wrapper iframe, .mapabout .fluid-width-video-wrapper object, .mapabout .fluid-width-video-wrapper embed {
    max-height: 500px;
}

.mapabout ul, .mapabout ol{
    margin-left: 40px;
}

.entry-news{
    position: relative;
    margin: 0 0 30px;
    padding: 0 0 20px;
    border-bottom: 2px solid #F5F5F5;
}
.entry-image-news{
    border: 1px solid #f1f1f1;
    text-align: center;
    margin-bottom: 10px;
}
.grid-news{
    display: grid;
    grid-template-columns: auto;
    gap: 1%;
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .grid-news{
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 1%;
    }
    .entry-image-news{
        height: 120px;
    }
    .entry-image-news img{
        width: auto;
        height: 100%;
    }

}
@media only screen and (min-width: 768px) and (max-width:991px) {
    .grid-news{
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 1%;
    }
    .entry-image-news{
        height: 198px;
    }
    .entry-image-news img{
        width: auto;
        height: 100%;
    }

}
@media only screen and (min-width: 992px) and (max-width:1199px) {
    .grid-news{
        display: grid;
        grid-template-columns: 32.33% 32.33% 32.33%;
        gap: 1%;
    }
    .entry-image-news{
        height: 170.53px;
    }
    .entry-image-news img{
        width: auto;
        height: 100%;
    }

}
@media only screen and (min-width: 1200px) {
    .grid-news{
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 1%;
    }
    .entry-image-news{
        height: 138px;
    }
    .entry-image-news img{
        width: auto;
        height: 100%;
    }

}