@media only screen and (max-width: 991px) {
    .content-wrap {
        position: relative;
        padding: 40px 0 !important;
    }
}
.img-topnav{
    max-width: 280px;
}
#top-bar {
    position: relative;
    border-bottom: 1px solid #EEE;
    height: 65px;
    line-height: 65px;
    font-size: 16px;
    background: #eee;
}

@media only screen and (max-width: 767px) {
    #top-bar{
        text-align: center;
    }
}
#primary-menu ul li > a {
    font-size: 16px;
}
#primary-menu ul ul li > a {
    font-size: 16px;
}

.mapabout .fluid-width-video-wrapper{
    padding-top: 55% !important;
}
.mapabout .fluid-width-video-wrapper iframe, .mapabout .fluid-width-video-wrapper object, .mapabout .fluid-width-video-wrapper embed {
    max-height: 500px;
}

.mapabout ul, .mapabout ol{
    margin-left: 40px;
}

.entry-news{
    position: relative;
    margin: 0 0 30px;
    padding: 0 0 20px;
    border-bottom: 2px solid #F5F5F5;
}
.entry-image-news{
    border: 1px solid #f1f1f1;
    text-align: center;
    margin-bottom: 10px;
}
.grid-news{
    display: grid;
    grid-template-columns: auto;
    gap: 1%;
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .grid-news{
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 1%;
    }
    .entry-image-news{
        height: 120px;
    }
    .entry-image-news img{
        width: auto;
        height: 100%;
    }

}
@media only screen and (min-width: 768px) and (max-width:991px) {
    .grid-news{
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 1%;
    }
    .entry-image-news{
        height: 198px;
    }
    .entry-image-news img{
        width: auto;
        height: 100%;
    }

}
@media only screen and (min-width: 992px) and (max-width:1199px) {
    .grid-news{
        display: grid;
        grid-template-columns: 32.33% 32.33% 32.33%;
        gap: 1%;
    }
    .entry-image-news{
        height: 170.53px;
    }
    .entry-image-news img{
        width: auto;
        height: 100%;
    }

}
@media only screen and (min-width: 1200px) {
    .grid-news{
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 1%;
    }
    .entry-image-news{
        height: 138px;
    }
    .entry-image-news img{
        width: auto;
        height: 100%;
    }

}

#copyrights {
    padding: 20px 0 !important;
}

.logo-health{
    max-width: 130px;
    width: 100%;
    height: auto;
}


.wizard {
    margin: auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #176d46;
    position: absolute;
    width: 60%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 20px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33.33%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46.8%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46.8%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
}

.wizard .nav-tabs > li a {
    width: 40px;
    height: 40px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 100%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 26px;
    }

    .wizard .nav-tabs > li a {
        width: 30px;
        height: 30px;
        line-height: 26px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.tap-box{
    max-width: 500px;
    margin: auto;
}
.button-green2{
    margin: 0px !important;
}



/* select 2 */
.select2{
    width: 100% !important;
}
.select2-container--default .select2-selection--single {
    display: block;
    width: 100% !important;
    height: 38px !important;
    padding: 3px 14px !important;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    color: #555555 !important;
    background-color: #ffffff !important;
    background-image: none !important;
    border: 2px solid #DDD !important;
    border-radius: 0 !important;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}

.mg_present{
    margin-bottom: 10px;
}
.mgt_preview{
    margin-top: 40px;
}
.mgb_no{
    margin-bottom: 0px;
}
.preview_detail{
    margin: auto;
    max-width: 600px;
    background-color: #fff;
    padding: 3rem;
}
.preview_detail_pdf{
    margin: auto;
    max-width: 600px;
    padding: 3rem;
    border: 1px solid #ccc;
}

.swal2-popup {
    width: 40em !important;
    font-size: 1.3rem !important;
}
.swal2-styled.swal2-confirm {
    font-size: 1.2em !important;
    min-width: 100px !important;
}
.dataTables_empty{
    text-align: center !important;
}
/* ============================================================================ stepwizard */
.has-error .sm-form-control {
    border: 2px solid #a94442;
}

.has-error .select2-container--default .select2-selection--single {
    border: 2px solid #a94442 !important;
}
